@font-face {
    font-family: 'Untitled Sans';
    src: url('fonts/untitled-sans-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('fonts/untitled-sans-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: #ffffff;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    padding: 20px;

}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    letter-spacing: -0.02em;
}

.heading {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    letter-spacing: -0.05em;
}


.logo {
    font-family: 'Untitled Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #222;

}

.description-container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 30px;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #222;
    margin-bottom: 1rem;
}

.link {
    color: #222;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #555;
}

.portfolio-container {
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.portfolio-items {
    display: grid;
    grid-template-columns: 50% 50%; /* Two columns, each 50% */
    grid-template-rows: auto auto; /* Two rows */
    gap: 10px; /* Adjust the gap between grid items if needed */
    width: 100%; /* Full width of the page */
}

.portfolio-item {
    flex: 50%;
    grid: 1fr 1fr;
}


.portfolio-item-image {
    width: 35px;
    height: auto;
    margin-bottom: 10px;
}

.portfolio-item-title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-bottom: 5px;
    color: #222;
}

.portfolio-description {
    font-size: 1rem;
    color: #222;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.primary {
    display: inline;
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}
